.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/interview/FileContentIndex/7834b148-3d55-4e46-9af5-4847855aaf9e.vsidx
.vs/interview/FileContentIndex/b7d7957f-1735-4560-9930-27848e787929.vsidx
.vs/interview/FileContentIndex/read.lock
.vs/interview/v17/.wsuo
catfacts-net/.vs/*
catfacts-net/CatFacts/bin/*
catfacts-net/CatFacts/obj/*